torch
torchvision
transformers
addict
yapf
timm
numpy
opencv-python
supervision
pycocotools
shortuuid
spacy
pandas
datasets
simple-aesthetics-predictor
hpsv2
clip
anthropic
openai
diffusers
accelerate
rich
peft